:root{
    --all-bg-color : #F7F0E2;
    --light-color: white;
    --dark-color: #475AA9;
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
    
}

html {
    height: 100%;
    font-size: 62.5%;
}
  
body {
    font-size: 2rem;
    min-height: 100%;
    line-height: 200%;
    background-color: var(--all-bg-color);
}

h1,
h2
{
  margin-bottom: 1rem;
  font-weight: 700;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

#start,
#submit,
#high-score{
    background-color: var(--all-bg-color);
    width: 80rem;
    height: 80rem;
}

body{
    height: 100%;
    width: 100%;
}


/*--------------------------------------timer---------------------------------------------------*/
#parent-time{
    display: flex;
    justify-content: flex-end; 
    height: 5%;  
    margin-right: 5rem;
    padding-top: 1rem;
}
#timer{
    border: solid; 
}

/*----------------------------------------------------------------------------------------------*/

main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 100%;
    align-items: center;
}

/*--------------------------------------start section-------------------------------------------*/
#start{
    display:flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
}

#start-sec{
    margin-bottom: 20rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-text{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#start-btn{
    padding-left: 5rem;
    padding-right: 5rem;
    height: 4rem;
    background-color: var(--dark-color);
    color: var(--light-color);
}
/*----------------------------------------------------------------------------------------------*/

/*--------------------------------------questions-----------------------------------------------*/
#questions{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
    background-color: var(--all-bg-color);
    width: 80rem;
    height: 70rem;
    z-index: 1;
}

#question-sec{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 1rem 40rem 7rem;
}


#list{
    list-style-type: none;
    padding-left: 3rem;
    padding-bottom: 1rem;
}

.list-item{
    background-color: var(--dark-color);
    color: var(--light-color);
    margin-bottom: 1rem;
    width: fit-content;
}

.list-item:before {
    content: attr(data-no);
    background-color: var(--dark-color);
    color: var(--light-color);
    display: inline-block;
    width: 1.5em;
    text-align: center;
}
  
#answer-sec{
    display: inline-block;
}

hr{
    float: left;
    width: 20rem;
}

#answer{
    color: gray;
    font-size: 2.2rem;
}

/*----------------------------------------------------------------------------------------------*/

/*----------------------------------------submit------------------------------------------------*/
#submit{
    display:flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

#submit-sec{
    margin-bottom: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#submit-form{
    margin-top: 1rem;
}

#final{
    margin-top: 1rem ;
}

#initial{
    height: 4rem;
}

#submit-btn{
    padding-left: 5rem;
    padding-right: 5rem;
    height: 4rem;
    background-color: var(--dark-color);
    color: var(--light-color);
}
/*---------------------------------------------------------------------------------------------*/

/*----------------------------------------high score-------------------------------------------*/
#high-score{
    display:flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

#hs-sec{
    margin-bottom: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hs-form{
    padding: 2rem;
}


#initial-score{
    padding-left: 0.7rem;
    margin-top: 2rem;
    border: solid #6F528B;
    background-color: #EDE3F5;
}

#go-back{
    padding-left: 5rem;
    padding-right: 5rem;
    height: 4rem;
    background-color: var(--dark-color);
    color: var(--light-color);
}

#clear{
    margin-top: 2rem;;
    padding-left: 4rem;
    padding-right: 4rem;
    height: 4rem;
    background-color: var(--dark-color);
    color: var(--light-color);
}
/*---------------------------------------------------------------------------------------------*/


